/* Slick Nav */
@media screen and (max-width: 992px) {
	/* #menu is the original menu */
	.desktop-menu {
        display: none;
    }
	.mobile-menu {
		display:inline-block;
	}
	.nav-section {
		padding: 20px 0px;
	}

}

/************IPad**************/
@media only screen and (min-width: 992px) and (max-width: 1366px) {
/* body {
	background-color: red;
} */

.hero-card-content {
	width: 50%;
}

}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.slicknav_nav {
		width: 50%;
		left: 50%;
	}
	/* body {
		background-color: green;
	} */

	.hero-card-content {
		width: 70%;
	}

	#search-bar {
		top: 236%;
	}

}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

	/* body {
		background-color: blue;
	} */
	.hero-card-content p {
		font-size: 14px;
	}
	.hero-heading {
		font-size: 28px;
	}
	.hero-sub-heading {
		font-size: 22px;
	}

	.hero-card-content {
		width: 95%;
	}

	.hero-slider button.owl-prev span, .hero-slider button.owl-next span {
		display: none;
	}
	.hero-slider .owl-theme .owl-dots {
		width: 100%;
	}

	.sr-button {
		font-size: 12px;
	}

	.subhero-slider .owl-theme .owl-nav {
		display: none;
	}

	#search-bar {
		top: 239%;
	}

	.phone-bg {
		background-size: initial;
	}
}
/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 579px) and (max-width: 768px) {

	/* body {
		background-color: yellow;
	} */

	.hero-card-content {
		width: 50%;
	}

	.hero-card-content p {
		font-size: 15px;
	}
	.hero-heading {
		font-size: 32px;
	}
	.hero-sub-heading {
		font-size: 25px;
	}

	.hero-slider .owl-theme .owl-dots {
		width: 30%;
	}
	#search-bar {
		top: 236%;
	}



}